        	<div id="homePage">
        	
            	<div id="pageHeading">
            		<div id="member-name">
            			Welcome Member!
            		</div>
            		<h1>
            			ABOUT US
            		</h2>
            	</div>
            	
            	<div class="about-us-card" style="border-top: solid 2px #f5f5f5;">
	            	<%= image_tag "alex-soble.jpg", :class => "round"%>
	            	<div class="about-us-person">Alex Soble</div>
	            	<div>Web Dev</div>
            	</div>
            	<div class="about-us-card" style="border-top: solid 2px #f5f5f5;">
	            	<%= image_tag "dawn-joseph.jpg", :class => "round"%>
	            	<div class="about-us-person">Dawn Joseph</div>
	            	<div>HTML/CSS</div>
            	</div>
            	<div class="about-us-card" style="border-top: solid 2px #f5f5f5; width: 320px; border-right: none;">
	            	<%= image_tag "jean-soderkvist.jpg" %>
	            	<div class="about-us-person">Jean Soderkvist</div>
	            	<div>UX</div>
            	</div>
            	
            	<div class="about-us-card">
	            	<%= image_tag "muhammad-meigooni.jpg" %>
	            	<div class="about-us-person">Muhammand Meigooni</div>
	            	<div>Web Dev</div>
            	</div>
            	<div class="about-us-card">
	            	<%= image_tag "janet-ginsburg.jpg" %>
	            	<div class="about-us-person">Janet Ginsburg</div>
	            	<div>HTML/CSS</div>
            	</div>
            	<div class="about-us-card" style="width: 320px; border-right: none;">
	            	<%= image_tag "bryan-sebastian.jpg" %>
	            	<div class="about-us-person">Bryan Sebastian</div>
	            	<div>Design</div>
            	</div>
            	
            	<div style="clear: both;"></div>
            	<!-- VIEW HTML -->
            	
        	</div>
        </div>
    </div>
    
    <div id="p-footer">
        <div id="p-footer-container">
            <div style="padding: 16px;">
                Footer</div>
        </div>
    </div>

</body>
</html>