
        <!-- VIEW HTML Start -->
        	<div class="tool-container">
            <%= image_tag 'renovating.png', :class => 'image' %>
        		<div class="title">Renovating</div>
        		<div class="description">A description of what renovating is all about would go here.</div>
        		<div class="items">
        			<ul>
        				<% renovating_id = Category.find_by_name('Renovating').id %>
								<% Tool.where(:category_id => renovating_id).each do |t| %>
        				<li class="tools-container-item"><%= link_to "#{t.name}", tool_url(t.id) %></li>
								<% end %>
        			</ul>
        		</div>
        	</div>
        	<div class="tool-container">
          	<%= image_tag 'marketing.png', :class => 'image' %>
        		<div class="title">Marketing</div>
        		<div class="description">A description of what marketing is all about would go here.</div>
        		<div class="items">
        			<ul>
        				<% marketing_id = Category.find_by_name('Marketing').id %>
								<% Tool.where(:category_id => marketing_id).each do |t| %>
        				<li class="tools-container-item"><%= link_to "#{t.name}", tool_url(t.id) %></li>
								<% end %>
	        			</ul>
        		</div>
        	</div>
        	<div class="tool-container">
          	<%= image_tag 'fundraising.png', :class => 'image' %>
        		<div class="title">Fundraising</div>
        		<div class="description">A description of what fundraising is all about would go here.</div>
        		<div class="items">
        			<ul>
        				<% fundraising_id = Category.find_by_name('Fundraising').id %>
								<% Tool.where(:category_id => fundraising_id).each do |t| %>
        				<li class="tools-container-item"><%= link_to "#{t.name}", tool_url(t.id) %></li>
								<% end %>
        			</ul>
        		</div>
        	</div>
        	<div style="clear: both;"></div>
        	<!-- VIEW HTML End -->
        	
        </div>
    </div>
    
    <div id="p-footer">
        <div id="p-footer-container">
            <div style="padding: 16px;">
                Footer</div>
        </div>
    </div>

</body>
</html>