<% Category.all.each do |c| %>

        	<div class="tool-container">
        	  <%= link_to category_url(c) do %> 
            	<%= image_tag "#{c.name.downcase}.png", :class => 'image' %>
            <% end %>
        		<div class="title"><%= c.name %></div>
        		<div class="description"><%= c.description %></div>
        		<div class="items">
        			<ul>
								<% Tool.where(:category_id => c.id).each do |t| %>
        				<li class="tools-container-item"><%= link_to "#{t.name}", tool_url(t.id) %></li>
								<% end %>
        			</ul>
        		</div>
        	</div>
      <% end %>