<%= stylesheet_link_tag 'bluelinks.css' %>

<div id="p-body">
<div id="p-body-container">

<div style="float: left; width: 200px;">
	<div style="float: right;">
		<% Category.all.each do |c| %>
			<div class="category-side-menu">
				<div class="title"><%= link_to "#{c.name}", category_url(c.id) %></div>
			</div>
			<% end %>
		</div>
	</div>

<% t = Tool.find_by_id(params[:id]) %> 
<div class="category-content">        		
  <div class="category-tool-container">
     <div class="title"><%= "#{t.name}" %></div>
        <div class="description">
        	<%= "#{t.description}" %>
        </div>
  <div class="link">
     <%= link_to 'Visit Website', "#{t.url}" %>
     
<div class="tool-comments-container">     
	<% c = t.comments.all %>
		<% if c != nil %>
			<% c.each do |comment| %>
	    	<% if comment.present? && comment.user.present? && comment.user.image.present? %>
		  	  <div class="user-image-container">
	    	  	<div class="user-image-background">
	      	   <%= image_tag "#{comment.user.image}", :class => "user-image", :size => '60x60' %>
		      </div>
		    </div>
		  <% end %>
		  <% if comment.user.present? %>
			  <div class="info">
					<div><%= comment.user.firstname %></div>
					<div><%= "Posted #{time_ago_in_words(comment.created_at)} ago" %></div>
		 		</div>
		 	<% end %>
		 	<div class="content">
				  <%= comment.text %>
	    </div>
			<div class="clear-fix"></div>
	<% end %>
<% end %>
</div>

<%= render 'form' %>