<!-- YEILD Start -->

<!-- Home View end --> <div id="homePage">

<%= image_tag "video.png", :class => "video" %>

<div class="message-container"> <div class="content-area"> <div class="title"> Welcome to
the Parent Leader Toolbox! </div> <div class="content"> <p>Parent involvement has always
been an important part of education. Now, with school budgets are stretched to the limit,
parent leadership has become essential.
<br><br>
The Parent Leader Toolbox takes its inspiration from the book <i><%= link_to 'How to Walk To School', 
'http://howtowalktoschool.com/about/' %></i> by Jacqueline Edelberg and Susan Kurland,
which tells the story of a remarkable turnaround at Nettelhorst School in Chicago’s
Lakeview neighborhood.
<br><br>
At Nettlehorst, the “Roscoe Park Eight” moms dared to dream big, expecting nothing but the
best for their children. They made their dream a reality. You can, too.

</p> </div> </div> </div>

<div style="clear: both; height: 16px;"></div>

<div class="column-container featured"> <%= image_tag 'renovating.png', :class => 'image'
%> <div class="title">Renovating</div> <div class="description">The school environment has been called "the third teacher." Painting, planting gardens, and fixing up playgrounds makes a big difference!</div> </div> <div class="column-container
featured"> <%= image_tag 'marketing.png', :class => 'image' %> <div
class="title">Marketing</div> <div class="description">Marketing, public relations and branding are important ways to boost your school's profile in the community.</div> </div> <div class="column-container featured"> <%=
image_tag 'fundraising.png', :class => 'image' %> <div class="title">Fundraising</div>
<div class="description">From bake sales to foundation grants, parents are increasingly raising money for their schools. Find out how to set up as a nonprofit, write grants and find donors.</div> </div> <div style="clear: both;"></div> <!-- Home view end -->

<!-- YEILD End -->

</div> </div> </div>

<div id="p-footer"> <div id="p-footer-container"> <div style="padding: 16px;">
Footer</div> </div> </div>

</body> </html>