<div id="homePage">

<%= image_tag "video.png", :class => "video" %>

<div class="message-container"> <div class="content-area"> <div class="title"> Welcome to
the Parent Leader Toolbox! </div> <div class="content"> <p>Parent involvement has always
been an important part of education. Now, with school budgets are stretched to the limit,
parent leadership has become essential.
<br><br>
The Parent Leader Toolbox takes its inspiration from the book <i><%= link_to 'How to Walk To School', 
'http://howtowalktoschool.com/about/' %></i> by Jacqueline Edelberg and Susan Kurland,
which tells the story of a remarkable turnaround at Nettelhorst School in Chicago’s
Lakeview neighborhood.
<br><br>
At Nettlehorst, the “Roscoe Park Eight” moms dared to dream big, expecting nothing but the
best for their children. They made their dream a reality. You can, too.

</p> </div> </div> </div>

<div style="clear: both; height: 16px;"></div>

<% Category.all.each do |c| %>

<div class="column-container featured"> 
	<%= link_to (image_tag "#{c.name.downcase}.png", :class => 'image'), category_url(c.id) %> 
		<div class="title"><%= "#{c.name}" %></div> 
		<div class="description"><%= "#{c.description}" %></div> 
</div> 

<% end %>

<div style="clear: both;"></div> <!-- Home view end -->