<% c = Category.find_by_id(params[:id]) %>

    <div style="float: left; width: 200px;">
	    	<div style="float: rigth;">
	     			<% Category.all.each do |q| %>
							<% if q.id == c.id %>
								<div class="category-side-menu active">
		        			<div class="title"><%= "#{q.name}"%></div>
		        		</div>
							<% else %>
		        		<div class="category-side-menu">
		        			<div class="title"><%= link_to "#{q.name}", category_url(q.id) %></div>
		        		</div>
		        <% end %>
		      <% end %>
        	</div>
        	<div class="category-content">
        		<div style="float: left;">
						<%= image_tag "#{c.name.downcase}.png" %> 
        		</div>
        		<div style="float: left; margin: 16px;">
        			<div class="title"><%= "#{c.name}" %></div>
        			<div class="description">
	        			<%= "#{c.description}" %>
        			</div>
        		</div>
        		<div style="clear: both; border-bottom: solid 1px #c0c0c0; margin: 0px 16px;"></div>
        
        
        <% tools = Tool.where(:category_id => c.id).limit(6) %>
        <% tools.all.each do |t| %>
        
        		<div class="category-tool-container">
        			<div class="title"><%= t.name %></div>
        			<div class="description">
									<%= t.description %>
        			</div>
        			<div class="comments">
        				0 comments
        			</div>
        			<div class="link">
        				<%= link_to 'Visit Website', "#{t.url}" %>
        			</div>
        			<br>
        		</div>
        		
						<% end %>
						        		
        	</div>	
            	
	        <div style="clear: both;"></div>
