<% c = Category.find_by_id(params[:id]) %>

    <div style="float: left; width: 200px;">
	    	<div style="float: right;">
	     			<% Category.all.each do |q| %>
							<% if q.id == c.id %>
								<div class="category-side-menu active">
		        			<div class="title"><%= "#{q.name}"%></div>
		        		</div>
							<% else %>
		        		<div class="category-side-menu">
		        			<div class="title"><%= link_to "#{q.name}", category_url(q.id) %></div>
		        		</div>
		        <% end %>
		      <% end %>
        	</div>
        	<div class="category-content">
        		<div style="float: left;">
						<%= image_tag "#{c.name.downcase}.png", :class => "image" %> 
        		</div>
        		<div style="float: left; margin: 16px;">
        			<div class="title"><%= "#{c.name}" %></div>
        			<div class="description">
	        			<%= "#{c.description}" %>
        			</div>
        		</div>
        		<div style="clear: both; border-bottom: solid 1px #c0c0c0; margin: 0px 16px;"></div>
        
        
        <% tools = Tool.where(:category_id => c.id).limit(6) %>
        <% tools.all.each do |t| %>
        
        		<div class="category-tool-container">
        			<div class="title"><%= link_to "#{t.name}", tool_url(t.id) %></div>
        			<div class="description">
									<%= t.description %>
        			</div>
        			<div class="comments">
        			  <i class="icon-wrench"></i> 
                        <% if Toolstar.find_by_tool_id(t.id).present? %>
                            <%= form_for(Toolstar.new) do |f| %>
                              <%= f.hidden_field :tool_id, value: t.id %>
                              <%= f.hidden_field :user_id, value: session[:user_id] %>
                              <%= f.hidden_field :stars, value: false %>
                              <div class="actions">
                                <%= f.submit 'Remove this from your toolbox!' %>
                              </div>
                            <% end %> 
                        <% else %>
                            <%= form_for(Toolstar.new) do |f| %>
                              <%= f.hidden_field :tool_id, value: t.id %>
                              <%= f.hidden_field :user_id, value: session[:user_id] %>
                              <%= f.hidden_field :stars, value: true %>
                              <div class="actions">
                                <%= f.submit 'Add this to your toolbox!' %>
                              </div>
                            <% end %> 
                        <% end %>

        				<i class="icon-bullhorn"></i>
        				<%= link_to 'Add a comment', tool_url(t.id) %>
        			</div>
        			<div class="link">
        				<%= link_to 'Visit Website', "#{t.url}" %>
        			</div>
        			<br>
        		</div>
        		
						<% end %>
						        		
        	</div>	
            	
	        <div style="clear: both;"></div>
