<!DOCTYPE html>
<html>
<head>
  <title>ParentToolbox</title>
  <%= stylesheet_link_tag  "application", :media => "all" %>
  <%= stylesheet_link_tag  "plt.css", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  	<div id="p-header">
        <div id="p-header-container">
            <div id="nav-bottom">
                <ul>
                    <% if session[:user_id] %>
                        <li id="navSignOut" class="last">
                            <a id="lnkHome" href="/signout">Sign Out</a>
                        </li>
                    <% else -%>
                        <li id="navSignUp" class="last">
                            <a id="lnkHome" href="/signup">Sign Up</a>
                        </li>
                        <li id="navSignIn">
                            <a id="lnkHome" href="/signin">Sign In</a>
                        </li>
                    <% end %>
                	<li id="navAboutUs">
                        <a id="lnkAboutUs" href="/about">About Us</a>
                    </li>
                    <li id="navTools">
                        <a id="lnkTools" href="/tools">Tools</a>
                    </li>
                    <li id="navHome">
                        <a id="lnkHome" href="/home">Home</a>
                    </li>                    
                </ul>
            </div>
            <div id="logo" onclick="location.href='/tools';">
                PARENT <span style="color: red;">LEADER</span> TOOLBOX
            </div>
        </div>
    </div>
    
    <div id="p-body">
        <div id="p-body-container">
</head>
<%= notice %>

<body>

<%= yield %>

</body>
</html>
